<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>testflight_id</key>
	<string>TESTFLIGHT_ID</string>
	<key>api_token</key>
	<string>API_TOKEN</string>
	<key>api_secret</key>
	<string>API_SECRET</string>
</dict>
</plist>
